@model ClinicaLucas.Models.Consulta

@{
    ViewData["Title"] = "Create";
}

<h1>Marcação de Consulta</h1>

<h4>Agendamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"> Horário</label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
           
            <div class="form-group">
               @* <label asp-for="PacienteId" class="control-label"></label>*@
               <input type="hidden" asp-for="PacienteId" value="@ViewBag.PacienteId" />

            </div>
            <div class="form-group">
                <label asp-for="ExameId" class="control-label">Exame</label>
                <select asp-for="ExameId" class ="form-control" asp-items="ViewBag.ExameId">
                    <option value="">Selecione o Exame</option>
                </select>
            </div>
            <div class="form-group" style="padding:20px">
                <input type="submit" value="Agendar" class="btn btn-success" /> | 
                <a asp-action="Index" class="btn btn-secondary">Voltar a Lista</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
