@model IEnumerable<ClinicaLucas.Models.Paciente>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}





<div id="pacientesTable">
    @Html.Partial("_PacientesTablePartial", Model)
</div>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery.validate-1.19.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery.validate.unobtrusive-3.2.13.min.js"></script>
}
